.transaction__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(192, 192, 192);
}

.transaction__header > a {
  color: rgb(48, 140, 226);
  text-decoration: none;
  margin-right: 10px;
  transform: scale(1.3);
}

.transaction__mainHeading {
  font-size: 1.4rem;
  font-weight: 600;
}

.transaction__entryType {
  /* border: 2px solid red; */
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding: 0 30px;
}
.transaction__typeLeft {
  /* border: 1px solid green; */
  color: rgb(7, 156, 7);
  font-size: 1.1rem;
}
.transaction__typeLeft > p {
  font-weight: 600;
  text-transform: uppercase;
}

.transaction__typeRight {
  /* border: 1px solid green; */
  color: rgb(243, 26, 26);
  font-size: 1.1rem;
}
.transaction__typeRight > p {
  font-weight: 600;
  text-align: right;
  text-transform: uppercase;
}

.invalid__container {
  margin-top: 5px;
  margin-bottom: -5px;
  /* border: 1px solid rgb(204, 202, 202); */
  /* background-color: white; */
  padding: 5px 5px;
  /* box-shadow: 4px 4px 5px #b9b8b8bd; */
  color: rgb(48, 140, 226);
}

/* text container styling starts here */

.transaction__amountMainHeading {
  font-weight: 600;
  margin-top: 30px;
  font-size: 1.1rem;
  padding-bottom: 15px;
  /* border: 2px solid red; */
  display: inline-block;
}
.transaction__amountInput {
  width: 100%;
  height: 45px;
  padding: 0 10px;
  font-size: 1.1rem;
  border: 1px solid rgb(204, 202, 202);
  font-weight: 500;
  box-shadow: 4px 4px 5px #b9b8b8bd;
  padding-left: 28px;
}
.transaction__currency {
  position: relative;
  top: 30px;
  left: 12px;
  font-weight: bold;
  font-size: 1.1rem;
}

input:focus {
  border: 1px solid #1670be;
  box-shadow: 0 0 3px #1670be;
  outline-offset: 0px;
  outline: none;
}

.transaction__addTrans {
  margin-top: 30px;
}
