@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #252323; */
}

body {
  font-family: "Ubuntu", sans-serif;
  background-image: linear-gradient(#f5f4f4eb, #f1ecec, #d6d3d3eb) !important;
  /* background-color: #252323; */
  /* color: rgb(231, 228, 228); */
}

.app__container {
  /* background-color: black; */
  padding: 20px;
  height: 97vh;
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 3vh auto;
  margin-bottom: 0;
}

@media (max-width: 400px) {
  .app__container {
    width: 100vw;
  }
}
